<% content_for :head do %>
<%= javascript_include_tag "players_tasks" %>
<% end %>
<%= form_for(@players_task) do |f| %>
  <% if @players_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@players_task.errors.count, "error") %> prohibited this players_task from being saved:</h2>

      <ul>
      <% @players_task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :player_id %><br />
    <%= f.select :player_id,options_from_collection_for_select(Player.all,:id,:nickname)  %>
  </div>
  <div class="field">
    <%= f.label :task_group_id %><br />
    <%= select_tag :task_group_id,options_from_collection_for_select(TaskGroup.all,:id,:name,@players_task.task.task_group.id)  %>
  </div>
  <div class="field">
    <%= f.label :task_id %><br />
    <%= f.select :task_id,options_from_collection_for_select(Task.all,:id,:name,@players_task.task_id ) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
