<h1>Listing players_tasks</h1>

<table>
  <tr>
    <th>Player</th>
    <th>Task</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @players_tasks.each do |players_task| %>
  <tr>
    <td><%= players_task.player_id %></td>
    <td><%= players_task.task_id %></td>
    <td><%= link_to 'Show', players_task %></td>
    <td><%= link_to 'Edit', edit_players_task_path(players_task) %></td>
    <td><%= link_to 'Destroy', players_task, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Players task', new_players_task_path %>
