<p id="notice"><%= notice %></p>

<p>
  <b>Player:</b>
  <%= @players_task.player.nickname %>
</p>

<p>
  <b>Task:</b>
  <%= @players_task.task.task_group.name %> <%= @players_task.task.name %>
</p>


<%= link_to 'Edit', edit_players_task_path(@players_task) %> |
<%= link_to 'Back', players_tasks_path %>
