<%content_for :head do %>
  <%= javascript_include_tag "index" %>
<% end %>
<div id="status">
  <div id="left">
    <% TaskGroup.all(:order=>["name ASC"]).each do |tg| %>
      <div alt="tg-<%=tg.id%>" class="task_group">
        <span  class="task_group_name"><%= h(tg.name)%></span>
        <div class="tasks">
          <% tg.tasks.all(:order=>["name ASC"],:conditions=>["completed=?",false]).each do |t|%>
            <div class="task" alt="<%=t.id%>" id="t-<%=t.id%>">
              <span class="task_name"><%=h(t.name) %></span>
              <div class="task_players" alt="<%=t.id%>">
                <% t.players.each do |p|%>
                  <span id="<%=p.id%>" class="player_name"><%=  h(p.nickname)%></span>
                <% end %>
              </div>
            </div>  
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div id="right">
    <div id="availables">
      <span class="availables_title"><%=t(:availables)%></span>
      <div class="task_players">
        <% Player.find_all_by_available(true).each do |p| %>
          <span id="<%=p.id%>" class="player_name"><%= h(p.nickname)%></span>
        <% end %>
      </div>
    </div>
    <div id="completed_tasks">
      <span class="availables_title"><%=t(:completed_tasks)%></span>
      <div class="tasks">
        <% TaskGroup.all.each do |tg| %>
        <div>
          <%="#{tg.name}"%> 
          <%tg.tasks.all(:conditions=>["completed=?",true]).each do |t|%>
            <span class="task_name"><%= h("#{t.name}")%></span>
          <%end%>
        </div>
        <% end %>
      </div>
    </div>
    <div id="form">
      <%=form_for @players_task do |f|%>
      <%= f.text_field :player_id %>
      <%= f.text_field :task_id %>
      <%= text_field_tag :old_task_id%>
      <%end%>
    </div>
  </div>
  <div id="progressbar-container">
    <span><%=t(:progress)%></span>
    <div id="progressbar"></div>
  </div>
</div>
