<p id="notice"><%= notice %></p>

<p>
  <b>Nickname:</b>
  <%= @player.nickname %>
</p>

<p>
  <b>Available:</b>
  <%= @player.available %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
